
// variables
$primary-color: #F8F8F8
$theme-color: #223E49
$text-color: #fff
$primary-text-color: #212121
$secondary-text: #757575
$divider-color: #bdbdbd
$background-color: #F3F3F3

$textPadding: 16px

$koodak-font: 'BKoodak', Arial, Helvetica, sans-serif
$elham-font: 'BElham', Arial, Helvetica, sans-serif
$yekan-font: 'BYekan', Arial, Helvetica, sans-serif
$titr-font: 'Titr', Arial, Helvetica, sans-serif