{% extends 'panel/panel_base.html' %}

{% block title %}ارسال پیام در {{ title }}{% endblock %}

{% block header %}
    {% include 'panel/header.html' with active='groups' %}
{% endblock %}

{% block content %}

    <div class="container rtl">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">

                <div class="my-card">
                    <h2 class="my-card-header">ارسال پیام در {{ title }}</h2>
                    <div class="card-body">

                        {# Error section#}
                        {% if form.non_field_errors %}
                            <div class="errorlist">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li>
                                            <strong>{{ error|escape }}</strong>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {# Error section#}


                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_text_message">{{ form.text_message.label_tag }}</label>

                                <textarea class="form-control" rows="4" name="text_message" autofocus=""
                                          maxlength="4096"
                                          minlength="4"
                                          id="id_text_message"
                                          required></textarea>
                                {{ form.text_message.errors }}
                            </div>

                            <div class="btn-group btn-group-lg">
                                <a class="btn btn-danger" href="{% url 'panel:index' %}">بازگشت</a>
                                <button class="btn btn-success" type="submit">ارسال</button>
                            </div>

                        </form>


                    </div>
                </div>


            </div>

        </div>


    </div>

{% endblock %}
