<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='{% static 'web/css/error_page.min.css' %}' />
  <title>خطا !!!</title>
</head>

<body>

  <div class='error-container'>
    <h1>خطا !</h1>
    <h2>{{ error }}</h2>
    <h4>{{ error_text }}</h4>
    <div class='btn'><a href="{% url 'web:index' %}">بازگشت</a></div>
  </div>

</body>

</html>