<footer class="rtl">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <h5>صفحات</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="{% url 'web:index' %}">خانه</a>
                    </li>
                    <li>
                        <a class="text-muted" href="{% url 'web:teachers' %}">لیست اساتید</a>
                    </li>
                    <li>
                        <a class="text-muted" href="{% url 'web:help' %}">راهنما</a>
                    </li>
                    <li>
                        <a class="text-muted" href="{% url 'web:about' %}">درباره ما</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>لینک‌های مرتبط</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="http://piau.ac.ir/">سایت رسمی دانشگاه</a>
                    </li>
                    <li>
                        <a class="text-muted" href="http://92.50.43.43/loginb.aspx">پرتال دانشجویی</a>
                    </li>
                    <li>
                        <a class="text-muted" href="https://telegram.me/joinchat/Bht1Hz1HN2vZTZlMZHCsaw">گروه کامپیوتر
                            پرند</a>
                    </li>
                    <li>
                        <a class="text-muted" href="https://t.me/piaunicomputer">کانال کامپیوتر پرند</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>ارتباط با ما</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted iconed" href="https://t.me/AmirYaghoobi"><i class="fab fa-telegram"></i>تلگرام</a>
                    </li>
                    <li>
                        <a class="text-muted iconed" href="https://twitter.com/amir_yaghoobi_"><i
                                class="fab fa-twitter"></i>توییتر</a>
                    </li>
                    <li>
                        <a class="text-muted iconed" href="https://github.com/amir-yaghoobi"><i
                                class="fab fa-github"></i>گیت‌هاب</a>
                    </li>
                    <li>
                        <div class="text-muted iconed" href="#"><i class="fas fa-envelope"></i>a.yaghoobi.uni@gmail.com</div>
                    </li>
                </ul>
            </div>
            <div class="col-md-1">
            </div>
        </div>

        <div id="license">طراحی شده توسط امیرحسین یعقوبی، هرگونه کپی برداری کاملا مجاز می‌باشد. (به جامعه متن باز خوش
            آمدید!!!)
        </div>
        <!-- text -->
    </div>

</footer>