{% extends 'web/base.html' %}
{% block title %}پرند کامپیوتر{% endblock %}

{% block header %}
    {% include 'web/header.html' with active='None' %}
{% endblock %}

{% block content %}
    <div class="group-background">
        <div class="container">
            <div class="row">

                <!-- groups section -->
                <section class='col-md-10 col-lg-10'>
                    <div class="my-card">

                        <!-- special-groups -->
                        <div class="my-card-header">گروه‌های ویژه</div>
                        <div class="card-body">
                            <div class="group-special">
                                <ul>
                                    <li><a href="https://t.me/joinchat/Bht1Hz1HN2t7gQlVHr9DFg">گروه کامپیوتر پرند</a></li>
                                    <li><a href="https://telegram.me/joinchat/AfgEhT8bT1ubnA29cTp9qg">گروه پروژه پایانی و کارآموزی</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- fist group section -->
                        <div class="my-card-header">گروه‌های دروس تخصصی</div>
                        <div class="card-body">
                            {% include 'web/_group_table.html' with group=groups.takhasosi %}
                        </div>


                        <!-- second group section -->
                        <div class="my-card-header">گروه‌های دروس آزمایشگاه</div>
                        <div class="card-body">
                            {% include 'web/_group_table.html' with group=groups.azmayeshgah %}
                        </div>

                        <!-- other group section -->
                        <div class="my-card-header">گروه‌های دروس عمومی</div>
                        <div class="card-body">
                            {% include 'web/_group_table.html' with group=groups.other %}
                        </div>
                    </div>
                </section>

            </div>
        </div>


    </div>


    <section id="github-section">
        <div class="row">
            <div class="col-md-4 col-sm-12 order-md-first">
                <h2>مشارکت</h2>
                <p>
                    این پروژه به صورت متن باز منتشر شده تا دانشجویانی که تمایل دارند بتوانند در بهینه سازی و ارتقا
                    آن مشارکت نمایند.
                    <a href="https://github.com/ayagh/parand-computer">صفحه گیت‌هاب</a>
                </p>
                <p>سمت سرور ما با پایتون و فریم‌ورک جنگو و سمت کلاینت آن با به کارگیری از بوت‌استرپ 4 نوشته شده
                    است.</p>

            </div>
            <div id="github-icon" class="col-md-8 col-sm-12 order-md-last order-first">
                <i class="fab fa-github"></i>
            </div>
        </div>

    </section>



{% endblock %}


